@charset 'UTF-8';

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

  @font-face {
      font-family: 'NeoSansCyrRegular';
      src: url('font/neosanscyr-regular.eot');
      src: url('font/neosanscyr-regular.eot') format('embedded-opentype'),
           url('font/neosanscyr-regular.woff') format('woff'),
           url('font/neosanscyr-regular.ttf') format('truetype'),
           url('font/neosanscyr-regular.svg#NeoSansCyrRegular') format('svg');
  }

  @font-face {
    font-family: 'PFDinTextCondPro';
    src: url('font/pfdintextcondpro-regular.eot');
    src: url('font/pfdintextcondpro-regular.eot') format('embedded-opentype'),
         url('font/pfdintextcondpro-regular.woff') format('woff'),
         url('font/pfdintextcondpro-regular.ttf') format('truetype'),
         url('font/pfdintextcondpro-regular.svg#PFDinTextCondProRegular') format('svg');
  }


	body
	{
		background: #fff;
	}

	body,textarea,select
	{
		font-family: sans-serif;
		font-weight: 300;
		font-size: 17pt;
		line-height: 1.75em;
		color: #888;
		-webkit-text-stroke: 0.1px;
	}

  .left
  {
    float: left;
  }

  .right
  {
    float: right;
  }

  .clear
  {
    clear: both;
  }

	h1,h2,h3,h4,h5,h6
	{
		color: #666;
		font-weight: 100;
		line-height: 1.5em;
    font-family: 'NeoSansCyrRegular';
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
		{
			color: inherit;
			text-decoration: none;
		}

	strong, b
	{
		font-weight: 400;
		color: inherit;
	}

		.dark strong, .dark b
		{
			color: #fff;
			color: rgba(255,255,255,0.85);
		}

	em, i
	{
		font-style: italic;
	}

	a
	{
		color: inherit;
		text-decoration: none;
	}

		a:hover
		{
			border-bottom-color: rgba(0,0,0,0);
		}

	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	hr
	{
		border: 0;
		border-top: solid 1px #9CC87A;
		margin: 0;
	}

	blockquote
	{
		border-left: solid 0.25em #e6e6e6;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	ul, ol, dl, table
	{
		margin-bottom: 1em;
	}

	p
	{
		text-align: justify;
	}

		header h1,
		header h2,
		header h3,
		header h4,
		header h5,
		header h6
		{
			margin: 0;
		}

    h2
    {
      font-size: 40px;
    }

		header p
		{
			display: block;
			margin: 0;
			padding: 0.25em 0 0.5em 0;
		}

	footer
	{
		padding-top: 1.5em;
	}

	br.clear
	{
		clear: both;
	}


	/* Sections/Articles */

		/* section,
    article
    {
      margin-bottom: 3em;
    } */

		section > :last-child,
		article > :last-child
		{
			margin-bottom: 0;
		}

		section:last-child,
		article:last-child
		{
			margin-bottom: 0;
		}

		.row > section,
		.row > article
		{
			margin-bottom: 0;
		}

	/* Images */

		.image
		{
			position: relative;
			display: inline-block;
			border: 0;
		}

			.image:after
			{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: url('images/overlay.png');
			}

			.image img
			{
				display: block;
				width: 100%;
				border-radius: 0.5em;
			}

			.image.featured
			{
				display: block;
				width: 100%;
				margin: 0 0 2em 0;
			}

			.image.full
			{
				display: block;
				width: 100%;
			}

			.image.left
			{
				float: left;
				margin: 0 2em 2em 0;
			}

			.image.centered
			{
				display: block;
				margin: 0 0 2em 0;
			}

				.image.centered img
				{
					margin: 0 auto;
					width: auto;
				}

	/* Lists */

		ul.default
		{
			list-style: disc;
			padding-left: 1em;
		}

			ul.default li
			{
				padding-left: 0.5em;
			}

		ul.icons
		{
			cursor: default;
		}

			ul.icons li
			{
				display: inline-block;
				padding-left: 0.75em;
			}

				ul.icons a
				{
					display: inline-block;
					width: 2.75em;
					height: 2.75em;
					line-height: 2.8em;
					text-align: center;
					border: 0;
					box-shadow: inset 0 0 0 1px #e6e6e6;
					border-radius: 100%;
					color: #aaa;
					-moz-transition: background-color 0.25s ease-in-out;
					-webkit-transition: background-color 0.25s ease-in-out;
					-o-transition: background-color 0.25s ease-in-out;
					-ms-transition: background-color 0.25s ease-in-out;
					transition: background-color 0.25s ease-in-out;
				}

					ul.icons a:hover
					{
						background: rgba(0,0,0,0.025);
					}

		ul.menu
		{
			cursor: default;
		}

			ul.menu li
			{
				display: inline-block;
				line-height: 1em;
				border-left: solid 1px #e6e6e6;
				padding: 0 0 0 0.5em;
				margin: 0 0 0 0.5em;
			}

			ul.menu li:first-child
			{
				border-left: 0;
				padding-left: 0;
				margin-left: 0;
			}

		ul.actions
		{
			cursor: default;
		}

			ul.actions li
			{
				display: inline-block;
				margin: 0 0 0 0.5em;
			}

			ul.actions li:first-child
			{
				margin-left: 0;
			}

		ol.default
		{
			list-style: decimal;
			padding-left: 1.25em;
		}

			ol.default li
			{
				padding-left: 0.25em;
			}

	/* Forms */

		form
		{
		}

			form .actions
			{
				margin-bottom: 0;
			}

			form label
			{
				display: block;
			}

			form input.text,
			form select,
			form textarea
			{
				display: block;
				box-shadow: inset 0 0 0 1px #e6e6e6;
				background: #fff;
				width: 100%;
				padding: 4px 5px 4px 5px;
        line-height: 1em;
				border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
				border: 3px solid #3C800E;
				-moz-transition: all 0.25s ease-in-out;
				-webkit-transition: all 0.25s ease-in-out;
				-o-transition: all 0.25s ease-in-out;
				-ms-transition: all 0.25s ease-in-out;
				transition: all 0.25s ease-in-out;
				-moz-appearance: none;
				-webkit-appearance: none;
				-o-appearance: none;
				-ms-appearance: none;
				appearance: none;
			}

				form input.text,
				form select
				{
					line-height: 1.25em;
				}

				form .select
				{
					position: relative;
				}

					form .select select
					{
						text-indent: 0.01px;
						text-overflow: '';
   					}

					form .select:before
					{
						content: '';
						position: absolute;
						top: 15%;
						right: 1em;
						width: 1.25em;
						height: 75%;
						background: url('images/arrow.svg') center center no-repeat;
						background-size: contain;
						z-index: 1;
					}

						form .select select::-ms-expand
						{
							display: none;
						}

						.dark form .select:before
						{
							background: url('images/dark-arrow.svg') center center no-repeat;
							background-size: contain;
						}

				form input.text:focus,
				form select:focus,
				form textarea:focus
				{
					outline: 0;
					box-shadow: inset 0 0 0 1px #afd9e0;
					background: #fcfcfc;
				}

			form textarea
			{
				min-height: 13em;
			}

			form select
			{
				position: relative;
			}

				form select option
				{
					color: #000;
				}

			form ::-moz-focus-inner
			{
				border: 0;
			}

			form .formerize-placeholder { color: #555 !important; }
			form ::-webkit-input-placeholder { color: #aaa !important; }
			form :-moz-placeholder { color: #555 !important; }
			form ::-moz-placeholder { color: #555 !important; }
			form :-ms-input-placeholder { color: #555 !important; }



	/* Feature Icon */

		.feature-icon
		{
			display: inline-block;
			position: relative;
			padding-bottom: 5em;
			margin-bottom: 2.75em;
			cursor: default;
		}

			.feature-icon .fa
			{
				display: inline-block;
				width: 2em;
				height: 2em;
				font-size: 4.5em;
				border-radius: 100%;
				box-shadow: inset 0 0 0 1px #666;
				color: #666;
				line-height: 2.1em;
			}

			.feature-icon:before
			{
				content: '';
				background: #666;
				position: absolute;
				bottom: 0;
				left: 50%;
				margin-left: -0.325em;
				width: 0.65em;
				height: 0.65em;
				display: block;
				border-radius: 100%;
			}

			.feature-icon:after
			{
				content: '';
				position: absolute;
				left: 50%;
				bottom: 0.65em;
				width: 1px;
				height: 4.35em;
				background: #666;
				margin-left: -0.5px;
			}

			.dark .feature-icon
			{
			}

				.dark .feature-icon .fa
				{
					background: rgba(255,255,255,0.15);
					box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
					color: #fff;
				}

				.dark .feature-icon:before
				{
					background: rgba(255,255,255,0.5);
				}

				.dark .feature-icon:after
				{
					background: rgba(255,255,255,0.5);
				}


/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	.header
	{
    height: 897px;
		position: relative;
    background: url('../images/header-bg.jpg') no-repeat center 170px;
		margin: 0;
		padding: 0;
		text-align: center;
		color: #fff;
    font-family: 'NeoSansCyrRegular';
	}

    .header .container
    {
      width: 986px;
    }

      .header .container .row
      {
        padding: 17px 0 11px 0;
      }

    .header > header {
      margin-bottom: 14px;
    }

		.header > header,
		.header > header p,
		.header > footer
		{
			text-align: center;
			position: relative;
			z-index: 1;
		}

			.header header h1
			{
				margin: 1px 0 0 16px;
        text-indent: -9999px;
        background: url('../images/logo.png') 0 0 no-repeat;
        width: 137px;
        height: 50px;
			}

			.header header p
			{
				padding: 0;
			}

      .header header .phone-number
      {
        font-size: 22px;
        margin-top: -8px;
        color: #2D2D2D;
      }

      .header header .order-call
      {
        margin-top: -5px;
      }

        .header header .order-call a
        {
          text-decoration:none; text-align:center;
          padding:6px 16px;
          font-size: 13px;
          border:none;
          -webkit-border-radius:4px;
          -moz-border-radius:4px;
          border-radius: 4px;
          color:#ffffff;
          background-color:#3c8f09;
          background-image: -moz-linear-gradient(top, #3c8f09 0%, #60a726 100%);
          background-image: -webkit-linear-gradient(top, #3c8f09 0%, #60a726 100%);
          background-image: -o-linear-gradient(top, #3c8f09 0%, #60a726 100%);
          background-image: -ms-linear-gradient(top, #3c8f09 0% ,#60a726 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a726', endColorstr='#60a726',GradientType=0 );
          background-image: linear-gradient(top, #3c8f09 0% ,#60a726 100%);
          -webkit-box-shadow:0px 3px 2px #296104, inset 0px 0px 1px #ffffff;
          -moz-box-shadow: 0px 3px 2px #296104,  inset 0px 0px 1px #ffffff;
          box-shadow:0px 3px 2px #296104, inset 0px 0px 1px #ffffff;
        }

      .header header .adress
      {
        text-align: right;
        margin-top: 8px;
      }

      .header header .adress a
      {
        font-size: 17px;
        margin-top: 6px;
        color: #3C9007;
        margin-right: 11px;
      }

		.header nav
    {
      background: #36404c;
      height: 50px;
    }

      .header nav ul
      {
        padding: 0 37px 0 37px;
        text-align: left;
      }

        .header nav ul li
        {
          display: inline-block;
          line-height: 48px;
          margin-right: 44px;
          font-size: 19px;
        }

        .header nav ul li.last-item
        {
          margin: 0;
        }

          .header nav ul li a:hover
          {
            text-decoration: underline;
          }

    .slider .row
    {
      position: relative;
    }

    .slider .slider-box
    {
      width: 714px;
    }

      .slider section > header
      {
        margin-left: 23px;
      }

        .slider section > header h2
        {
          color: #000;
          text-shadow: 1px 1px 2px rgba(255, 252, 252, 1);
          font-weight: 500;
        }

        .slider section > header h3
        {
          color: #108F39;
          font-size: 37px;
          margin-top: -14px;
          margin-left: 9px;
        }

      .slider .tabs a
      {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 11px;
        background: #9A9A9A;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
      }

      .slider .tabs a:first-child
      {
        margin-left: 49px;
      }

      .slider .tabs a.active
      {
        background: #fff;
        border: 3px solid #58A21D;
        padding: 10px;
        -moz-border-radius: 14px;
        -webkit-border-radius: 14px;
        border-radius: 14px;
        margin-bottom: -3px;
      }

      .slider .tabs .content
      {
        display:none;
        clear:both;
        text-align: left;
        height: 379px;
        margin-top: 4px;
      }

        .slider .tabs .content.active
        {
          display:block;
        }

        .slider .tabs .content img
        {
          background: #339900;
          padding: 5px;
        }

      .slider .slide-desc
      {
        margin-top: 40px;
        background: #339900;
        height: 127px;
        line-height: 38px;
        font-size: 30px;
        padding: 23px 80px;
        text-align: center;
      }

      .slider-box .arrows
      {
        position: absolute;
        top: 222px;
      }

        .slider-box .arrows .arrow-left
        {
          margin-left: -17px;
        }

        .slider-box .arrows .arrow-right
        {
          margin-left: 578px;
        }

    .header .form
    {
      width: 312px;
      margin-top: 40px;
    }

    .header .form form
    {
      padding: 27px 18px 12px;
      background: #339900;
      border: 3px solid #2C7101;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
    }

    .header .form .top *
    {
      color: #fff;
      text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.75);
      text-align: center;
    }

    .header .form .top h2
    {
      margin: 0;
      font-size: 26px;
      line-height: 22px;
    }

    .header .form .top p
    {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 3px;
    }

    .header .form hr
    {
      color: #9CC87A;
    }

    .header .form .form-data
    {
      margin-top: 12px;
    }

    .header .form input.text
    {
      text-indent: 45px;
      margin-bottom: 7px;
      font-size: 16px;
      padding: 6px 5px 7px 5px;
    }

    .header .form input.user
    {
      background: #fff url('../images/user.png') 11px 6px no-repeat;
    }

    .header .form input.phone
    {
      background: #fff url('../images/phone.png') 11px 6px no-repeat;
    }

    .header .form input.email
    {
      background: #fff url('../images/email.png') 11px 6px no-repeat;
    }

    .header .form .bottom
    {
      margin-top: 14px;
    }

    .header .form .button
    {
      -webkit-appearance: none;
      position: relative;
      display: inline-block;
      padding: 3px 25px;
      cursor: pointer;
      border: 0;
      color: #191B1D;
      font-size: 23px;
      font-family: 'NeoSansCyrRegular';
      text-align: center;
      text-decoration: none;
      background: rgb(255, 254, 67);
      background: -moz-linear-gradient(270deg, rgb(255, 254, 67) 50%, rgb(254, 183, 22) 100%);
      background: -webkit-linear-gradient(270deg, rgb(255, 254, 67) 50%, rgb(254, 183, 22) 100%);
      background: -o-linear-gradient(270deg, rgb(255, 254, 67) 50%, rgb(254, 183, 22) 100%);
      background: -ms-linear-gradient(270deg, rgb(255, 254, 67) 50%, rgb(254, 183, 22) 100%);
      background: linear-gradient(180deg, rgb(255, 254, 67) 50%, rgb(254, 183, 22) 100%);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-box-shadow: 0 4px 1px rgba(208, 147, 3, 0.75);
      -moz-box-shadow:    0 4px 1px rgba(208, 147, 3, 0.75);
      border-radius: 4px;
      box-shadow:         0 4px 1px rgba(208, 147, 3, 0.75);
      -moz-transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      -ms-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;

    }

    .header .form .notice
    {
      font-size: 13px;
      text-align: center;
      line-height: 16px;
      margin-bottom: 0;
    }


/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	.main
	{
		position: relative;
		margin: 0;
	}

		.main > header
		{
			text-align: center;
			margin: 0;
		}

			.main > header p
			{
				margin: 2em 0 0 0;
				padding: 0;
				text-align: center;
			}

			/* .main > .content > .container
      {
              width: 986px;
      } */

      .main .wave
      {
        height: 6px;
        background: #fff url('../images/wave.png') 0 0 repeat-x;
        margin-bottom: 48px;
      }

/*********************************************************************************/
/* Profit section                                                                */
/*********************************************************************************/

  .profit
  {
    background: transparent url('../images/profit-bg.png') center top no-repeat;
    margin-top: -14px;
    height: 882px;
  }
    .profit > .content
    {
      padding: 62px 0 0 0;
    }

    .profit h2, .profit p
    {
      color: #fff;
    }

    .profit h2
    {
      padding-top: 40px;
      font-size: 42px;
    }

    .profit .profit-desc
    {
      max-width: 430px;
    }

      .profit .profit-desc section h3
      {
        font-size: 25px;
        color: #292929;
        line-height: 23px;
        font-family: 'PFDinTextCondPro';
      }

      .profit .profit-desc p
      {
        font-size: 17px;
        line-height: 22px;
        font-family: 'PFDinTextCondPro';
        margin: 6px 0 0 0;
        text-align: left;
      }

      .profit .item-1
      {
        width: 430px;
        margin-left: 43px;
      }

        .profit .item-1 p
        {
          width: 405px;
        }

      .profit .item-2
      {
        width: 260px;
        margin-left: -30px;
        margin-top: 40px;
      }

      .profit .item-3
      {
        width: 250px;
        margin-left: -67px;
        margin-top: 55px;
      }

      .profit .item-4
      {
        width: 345px;
        margin-top: 40px;
      }

      .profit .item-5
      {
        width: 215px;
        margin-top: 88px;
        margin-left: 260px;
      }

      .profit .item-6
      {
        width: 270px;
        margin-top: 64px;
        margin-left: 321px;
      }

      .profit .item-7
      {
        width: 380px;
        margin-top: 53px;
        margin-left: 182px;
      }

/*********************************************************************************/
/* Why We section                                                                */
/*********************************************************************************/

  .why-we
  {
    background: #fff;
    height: 695px;
  }

    .why-we h2
    {
      color: #3B8F06;
      margin-top: 40px;
      font-size: 42px;
      font-weight: 900;
    }

    /* .why-we .wave
    {
      height: 6px;
      background: #fff url('../images/wave.png') 0 0 repeat-x;
      margin-bottom: 48px;
    } */

    .why-we .content
    {
      margin-top: 25px;
    }

      .why-we .content .container
      {
        width: 1044px;
      }

      .why-we .row
      {
        margin-bottom: 18px;
      }

        .why-we .row .item
        {
          margin-right: 84px;
        }

        .why-we .row .hexagon
        {
          background: #fff url('../images/hexagon.png') 0 0 no-repeat;
          width: 168px;
          height: 188px;
          text-align: center;
          padding: 27px 15px;
          line-height: 25px;
        }

        .why-we .row div.last-item
        {
          margin-right: 0;
        }

          .why-we .row h3
          {
            color: #FF8B02;
            font-size: 33px;
            margin: 15px 0 13px 0;
            font-weight: 900;
            font-family: 'PFDinTextCondPro';
          }

          .why-we .row img
          {
            margin-bottom: 12px;
          }

          .why-we .row .key img
          {
            margin-bottom: 0;
          }

          .why-we .row div p
          {
            text-align: center;
            font-size: 20px;
            font-family: 'PFDinTextCondPro';
            margin: 0;
            color: #000;
          }

          .why-we .row p span
          {
            font-weight: 900;
          }

/*********************************************************************************/
/* Playground                                                                    */
/*********************************************************************************/

  .playground
  {
    height: 1406px;
    position: relative;
    background: url('../images/playground-bg.jpg') no-repeat center top;
    color: #fff;
    font-family: 'PFDinTextCondPro';
    overflow: hidden;
  }

    .playground .content .container
    {
      background-color: rgba(0, 0, 0, 0.75);
      padding: 0 12px 0 7px;
    }

      .playground header .container
      {
        height: 100%;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.75) 30%, rgba(0,0,0,0.75) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0,0,0,0)), color-stop(30%,rgba(0,0,0,0.75)), color-stop(100%,rgba(0,0,0,0.75))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.75) 30%,rgba(0,0,0,0.75) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.75) 30%,rgba(0,0,0,0.75) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.75) 30%,rgba(0,0,0,0.75) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.75) 30%,rgba(0,0,0,0.75) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
      }

      .playground h2
      {
        color: #fff;
        padding: 55px 0 25px 0;
      }

      .playground h3
      {
        color: #FFF002;
        font-size: 37px;
        font-family: 'PFDinTextCondPro';
      }

      .playground div.wave
      {
        background: transparent url('../images/wave-2.png') 0 0 no-repeat;
        margin-bottom: 0;
        padding: 27px 0 20px 0;
      }

      .playground p
      {
        font-size: 19px;
        line-height: 23px;
        margin-bottom: 20px;
        text-align: left;
      }

        .playground p.no-margin
        {
          margin: 0;
        }

        .playground .playground-item
        {
          margin-bottom: 13px;
        }

          .playground .playground-item.first-item .row
          {
            margin-bottom: 10px;
          }

          .playground .playground-item .wave
          {
            padding: 10px 0;
          }

          .playground .playground-item.second-item h3
          {
            margin-top: 11px;
            margin-bottom: 0;
          }

          .playground .playground-item.third-item h3
          {
            margin: 12px 0;
          }

          .playground .playground-item img
          {
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
          }

          .playground .playground-item .right
          {
            width: 726px;
          }

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		position: relative;
		margin: 0;
		text-align: center;
		padding: 4em 0 8em 0;
		box-shadow: inset 0 1px 0 0 #e6e6e6;
	}

		#footer .copyright
		{
			margin-top: 3em;
			font-size: 0.8em;
			color: #aaa;
		}

			#footer .copyright a
			{
				color: inherit;
			}

